#root {
  font-family: 'Slabo 27px', serif;
}
h2 {
  margin-top: 12px;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3c719f;
  min-height: 50px;
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  /*display: none;*/
  margin: 20px 0;
  border: none;
  height: 40px;
  width: 91px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
}

.navigation-btn {
  background-color: #1c885b;
}
.delete {
  background-color: rgba(193, 29, 29, 0.76);
}

.delete:hover {
  background-color: rgba(193, 29, 29, 0.86);
}
/*
.child-row:before {
  content: "";
  height: 10px;
  left: 50px;
  width: 15px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  position: absolute;
}*/
